
        
        html {
            
            width: 100%;
            height: 100%;
            
        }
        
        
        body {
            
            width: 100%;
            height: 100%;
            
        }
        
        aside{
            /*float haalt het element uit de natuurlijke volgorde*/
            float: left;
            width: 25%;
            background-color: rgb(65,74,76);
        }
        
        article {
            
            float: right;
            width: 75%;
            background-color: #C35E4D;
            padding: 0 0 0 1.5em;
            box-sizing: border-box;
        }
 
 
         