 *{
    box-sizing: border-box;
}

html {

    width: 100%;
    height: 100%;

}


body {

    width: 100%;
    height: 100%;

}

aside {

    /*float haalt het element uit de natuurlijke volgorde*/
    float: left;
    width: 25%;
    /*background-color: rgb(65, 74, 76);  kan ook zo genoteerd worden*/
    background-color: #E8C051;
}

article {

    float: right;
    width: 75%;
    background-color: #F1ECD7;
    padding: 0 0 0 1.5em;
    box-sizing: border-box;
}

body article header {

    margin-bottom: 1em;
}


/******** opmaak navigatie ********/

/* type selector om de html ol elementen te selecteren
            binnen in een navelement */

nav ol {

    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav a {

    text-decoration: none;
    color: #242424;
    /* Intellektuelle black */
}

/*hier begint de css alleen voor de horizontale nav
en die zit in een header element*/

header nav ol li {

    display: inline-block;
    /*lijstelementen naast elkaar*/
    /* een streepje na elke item */
    border-right: solid 0.1em;


}




header nav ol li:first-child {
    /* alleen het eerste element heeft een streepje links */
    border-left: solid 0.1em;
}


header nav ol li a {

    /* wit voor en na elk item, zorg dat er geen spaties
      tussen de items staat */
    padding: 0 0.5em 0 0.5em;
    color: #242424;

}

header nav a:hover {
    background-color: #D89CA9;
}


/* hier begint verticale nav*/

aside nav ol {
    /* even breed als het aside element */
    width: 100%;
    /* achtergrond om het menu te laten uitkomen */
    background-color: #F8EEE7;
    /* grape */
}



aside nav ol li a {

    display: block;
    border-top: solid 0.1em;
    padding: 0.2em 0 0.2em 0.4em;
    border-left: solid 0.6em #49274A;

}

aside nav ol li:last-child a {
/*laatste streepje van de nav*/
border-bottom: solid 0.1em;
}



aside nav a:hover {
    background-color: #94618E;
    /* grape */
    color: #F8EEE7;
    /* shell */
}

/* fonts */


header {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

figcaption a {
    font-family: Arial, Helvetica, sans-serif;
    color: #acacac;
}

footer {
    font-family: verdana, sans-serif;
    
}

/*lettergrootte*/

h1 {
    font-size: 1.6em;
}

h2{
    font-size: 1.3em;
}

h3{
    font-size: 1.4em;
}

figcaption {
    font-size: 0.7em;
}


article section p {
    font-size: 1em;
}

body footer p {
    font-size: 1em;
}

body footer address {
    font-size: 1.2em;
}

