*{
    box-sizing: border-box;

}

html {

    width: 100%;
    height: 100%;

}


body {

    width: 100%;
    height: 100%;

}

aside {

    /*float haalt het element uit de natuurlijke volgorde*/
    float: left;
    width: 25%;
    /*background-color: rgb(65, 74, 76);*/
    background-color: #F8EEE7; /*shell*/
}

article {

    float: right;
    width: 75%;
    background-color: #F8EEE7; /*shell*/
    padding: 0 0 0 1.5em;
    box-sizing: border-box;
}

form{
    /*het element hierboven, namelijk de banner, staat ingesteld op float:right. Dat floaten met vanaf de form stoppen*/
    clear: both;
    padding: 1em;
}

fieldset{
    margin-top: 1em;
    padding: 1em;
}

fieldset > div{
    margin-top: 0.5em
}

fieldset input+label{
    /*alleen de labels die onmiddelijk volgen op een input element
    moeten links voorafgegaan worden door witruimte (margin-left)
    we gebruiken de adjacent sibling selector om deze labels te selecteren*/
    margin: 0 0.5em 0 0.5em;
}

body article header {

    margin-bottom: 1em;
}


/******** opmaak navigatie ********/

/* type selector om de html ol elementen te selecteren
            binnen in een navelement */

nav ol {

    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav a {

    text-decoration: none;
    color: #0C090A;
    /* Intellektuelle black */
}

nav a:hover {
    background-color: #94618E;
    /* grape */
    color: #F8EEE7;
    /* shell */

}
/*hier begint de css alleen voor de horizontale nav
en die zit in een header element*/

header nav ol li {

    display: inline-block;
    /*lijstelementen naast elkaar*/
    /* een streepje na elke item */
    border-right: solid 0.1em;
    


}


header nav ol li:first-child {
    /* alleen het eerste element heeft een streepje links */
    border-left: solid 0.1em;
}


header nav ol li a {

    /* wit voor en na elk item, zorg dat er geen spaties
      tussen de items staat */
    padding: 0 0.5em 0 0.5em;
    color: #242424;

}

header nav a:hover {
    background-color: #94618E; /* grape */
}


/* hier begint verticale nav*/

aside nav ol {
    /* even breed als het aside element */
    width: 100%;
    /* achtergrond om het menu te laten uitkomen */
    background-color: #F8EEE7; /* shell*/
    color: #94618E; /* grape */
    
    
}



aside nav ol li a {

    display: block;
    border-top: solid 0.1em;
    padding: 0.2em 0 0.2em 0.4em;
    border-left: solid 0.6em #979AAA;
    color: #49274A;  /* eggplant*/

}

aside nav ol li:last-child a {
    /*laatste streepje van de nav*/
    border-bottom: solid 0.1em;
}

aside nav a:hover {
    background-color: #94618E;
    /* grape */
    color: #F8EEE7;
    /* shell */
}




/*opmaak articles*/
article section {
    display: none;
    font-size: 1em;
    background-color: #F8EEE7; /*shell*/
    transition: background-color 3s ease;
    color: #49274A; /*eggplant*/
    
}

article section:target {
    display: block;
}

article section:hover {
    font-size: 1.5em;
    
}

body>span {
    display: none;
}

/*foto's*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
  text-align: center;
}

div.youtube{
     width: 560px;
 height: 340px;
 margin: 0 auto;
    
}

/*navigatie met target in een spa (single page app/one page app)*/
#span1:target ~article #JohnWaters,
#span2:target ~article #HarrisGlennMilstead,
#span3:target ~article #PinkFlamingos,
#span4:target ~article #FemaleTrouble,
#span5:target ~article #DesperateLiving,
#span6:target ~article #Polyester,
#span7:target ~article #Hairspray,
#span8:target ~article #Cry-Baby,
#span9:target ~article #SerialMom{
    display: block;
}

/* fonts */

header {
    font-family: Garamond, Georgia, serif;
}

p {
    font-family: Palatino, 'Times New Roman', serif;
}

figcaption a {
    font-family: Garamond, Georgia, serif;
    color: #acacac;
}

footer {
    font-family: verdana, sans-serif;
}


/*opmaak*/

header figure img {
    height: 6em;
}

header figure {
    float: left;
}



header .banner {
    float: right;
    padding-right: 40em;
}

aside {
    clear: both;
}

/* vanaf hier blijft het zweven dus we zetten een clear both*/
aside {
    clear: both;
}

/* Opmaak formulier */
/* Ik wil alleen de span's selecteren die direct ahter
    een input element staan. Daarvoor gebruik ik de adjacent sibling selector*/

input + span, form p span{
    color: red;
}

/*footer*/
footer {
    clear: both;
    float: right;
    padding-right: 35em;
}